/* Body Styles */
body {
    font-family: 'Open Sans', sans-serif;
}

/* Header Styles */
#top-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#top-bar a {
    text-decoration: none;
    color: #000;
}

nav {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #000;
    text-transform: lowercase;
}

/* Main Styles */
main {
    width: 50%;
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-size: 50px;
}

.article-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article-links a {
    text-decoration: none;
    color: #000;
}

#featured-img {
    margin: 0 auto;
    width: 100%;
}

.more-info {
    display: flex;
    justify-content: space-between;
}

/* Footer Styles */

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer a {
    text-decoration: none;
    color: #000;
    padding-right: 15px;
}

footer p {
    color: red;
    font-weight: bold;
}